@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    
    height: 100vh;

    font-family: 'Lato', sans-serif;

    background-color: rgba(100, 158, 251, 1);
    background-image: linear-gradient(120deg, rgba(100, 158, 251, 1) 0%, rgba(49, 77, 122, 1) 100%);

}

.container {
    display: flex;
    flex-direction: column;
    
    height: fit-content;
    width: 40%;
    margin-top: 100px;

    background-color: rgba(86, 100, 122, .5);

    border-radius: 15px;
    
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 15px 20px;
}

.header img {
    height: 120px;
    max-width: 100%;
}

.inputs {
    display: flex;
    margin-top: 10px;
}

.header input {
    all: unset;
    
    width: 150px;
    height: 25px;

    padding: 0 15px;

    text-align: center;

    background-color: #8BA2C7;
    border-radius: 15px;
    border: 1px solid #314D7A;
}

button {
    width: 60px;
    height: 25px;
    
    margin-left: 10px;

    font-weight: 700;

    background-color: #649EFB;
    border-radius: 15px;
    border: 1px solid #314D7A;
}



.error-panel {
    margin-top: 10px;
    font-size: 14px;
}

.main-info {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.city-name {
    font-size: 50px;
    font-weight: 700;
}

i {
    font-size: 70px;
    margin: 15px 0;
}

.temperature {
    font-size: 40px;
    margin-bottom: 15px;
}



.humidity {
    font-size: 25px;
    margin-bottom: 10px;
}

.pressure {
    font-size: 20px;
    margin-bottom: 10px;
}

.wind {
    font-size: 16px;
}


.none {
    display: none;
}